body {
    background-color: #fffff7;
    cursor: default;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.country .label {
    text-anchor: middle;
}

.country {
    pointer-events: all;
}

.flourish-popup {
    pointer-events: none;
}

circle.renewable {
    fill: #7fb069;
}

circle.oilgascoal {
    fill: none;
    stroke: #bcb5b2;
}

circle.nuclear {
    fill: none;
    stroke: #5eb1bf;
    stroke-dasharray: 3,1;
}

circle.hydroelectric {
    fill: none;
    stroke: #f6ae2d;
    stroke-dasharray: 4,2;
}

#wrapper {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
}

.popup-centre {
    opacity: 0;
}

.menu .items {
    display: flex;
}

.menu .item {
    padding: 0 1rem;
    color: #333;
    opacity: 0.5;
}

.menu .item.selected, .menu .item:hover {
    opacity: 1;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend circle {
    stroke: #aaa;
    fill: none;
}

.legend text {
    fill: #777;
    text-anchor: middle;
    dominant-baseline: middle;
}
